#tryme{
    position: absolute;
    top: 6vh;
    text-align: left;
    padding: 0;
    padding-top: 0;
    margin: 0; 
    width: 100%;
    height: 94vh; 
    background: #1C232E;
}
div.codeApp {
    position: relative;
}
button.funcBtn {
    background: #FFD152;
    font-size: 2vh;
    border: none;
    margin-right: 1vw;
    height: 3.5vh;
    color: #343233;
    border-radius: 0.3vh;
    cursor: pointer;
}
#trmeCont {
    border: 0.03vh solid #2A303A;
    border-right: none;
    background: #243241;
    position: relative;
}
#runConsoleContainer {
    background: #181E27;
    min-height: 6vh;
    position: absolute;
    width: 100%;
    bottom: 0;
    border: 0.03vh solid #2A303A;
    display: none;
    max-height: 59.5vh;
    overflow-x: auto;
}
#appConsole {
        
}
#minimizeConsole {
    z-index: 9999;
    position: absolute;
    float: none;
    border: 1px solid #583A27;
    font-size: 5vh;
    right: 0.5vw;
    top: 1vh;
    cursor: pointer;
    padding: 0.8vh ;
    border-radius: 3px;
}
#minimizeConsole .btn {
    position: relative;
    background: white;
    height: 0.2vh;
    width: 1.5vh;
}