#dashboard {
    padding: 6vh 0;
}
#dashHeader {
    height: 25vh;
    background: #092936;
    padding: 3vh 10vw;
    text-align: left;
    color: white;
}
.proImage {
    height: 16vh;
    width: 13vh;
    background: #092936;
    border-radius: 1vh;
    margin-right: 2vw;
    border: 0.5vh solid white;
    overflow: hidden;
}
.userDetails {
    
}