#logpage {
    border-top: 0.05vh solid rgba(0, 0, 0, 0.178);
    margin: 0.03vh;
    margin-top: 6vh;
    padding: 10vh 0;
}
#logpage .form {
    width: 25vw;
    margin: auto;
    padding: 0 2vh;
    border: 0.01vh solid rgba(0, 0, 0, 0.123);
}
#logpage form input {
    background: #F0EEF3;
    width: 100%;
    margin: 0 0 4vh;
    border: none;
    border-radius: 5vh;
    outline: none;
    font-size: 2vh;
    padding: 1.8vh;
}
#logpage button {
    display: block;
    font-size: 2vh;
    width: 100%;
    margin: 0 0 4vh;
    cursor: pointer;
}
#logpage button[type*=submit] {
    background: #68567A;
    color: white;
    border: none;
    border-radius: 5vh;
    padding: 1.5vh;
}
.btnx {
    border: none;
    background: none;
    width: auto;
    cursor: pointer;
    padding: 0;
    text-align: left;
    margin: 0 0 4vh;
    font-size: 2vh;
}
#logpage button#logmessage {
    border: none;
    width: auto;
    margin: auto;
    color: rgb(140, 224, 125);
    background: none;
}

@media (max-width: 780px) and (min-width: 360px) {
    
    #logpage .form  {
        width: 75vw;
        border: none;
    }
}