body {
  margin: 0;
  padding: 0;
  color: #484848;
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.appContainer {
  padding: 6.5vh 20vw;
  text-align: center;
  min-height: 75vh;
}
a {
  text-decoration: none;
}
button:focus {
  outline: none;
}
.Beta {
  margin: 0.5vh;
  color: #1C232E;
  font-weight: 400;
}